<div class="container">
  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-sm-4"><h1>Secrets..</h1>

    </div>
  </div>
  <div class="jumbotron">
    <h3> Make sure to keep quiet...</h3>
    <div class="row">
      <div class="col-md-9 off">
          <h4> Welcome <%= current_user.name %>,</h4>
      </div>
      <div class="col-sm-3">
          <a href="/users/<%= current_user.id %>" data-toggle="tooltip" title="Tell them everything.." class="btn btn-danger"> My Secrets</a> |  <a href="/logout" data-toggle="tooltip" title="Are you sure?"class="btn btn-primary">Logout</a>
      </div>
      </div>
    </div>
  <% @secrets.order("created_at DESC").each do |secret| %>

      <h3><%= secret.user.name %> | <%= secret.created_at.strftime "%B %-d, %Y" %></h3>
      <p><%= secret.content %></p>
      <p> likes: <%= @like.count%></p>

    <% if secret.user_id == current_user %>
        <a href="/secrets/<%= secret.id %>" class="btn btn-warning btn-xs" data-method="delete">Delete</a>
    <% end %>
        <% if @like.any? {|likes| likes.secret_id ==secret.id}%>
            <a href="/users/<%= current_user.id %>/secrets/<%=secret.id%>/unlike" class="btn btn-danger btn-xs">Unlike</a>
        <% else %>
            <a href="/users/<%= current_user.id %>/secrets/<%=secret.id%>/like" class="btn btn-primary btn-xs">Like</a>
        <% end %>

    <hr>
  <% end %>
</div>
